<header sae-if="!menu" class="mdc-top-app-bar mdc-top-app-bar--short">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <!-- <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button> -->
      <span class="mdc-top-app-bar__title">Surya Sarafe</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a href="https://blog.devweb.id">
        <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Blog page">source</button>
      </a>
    </section>
  </div>
</header>