<div class="container-fluid mt-5">
	
	<div class="row">
		<div class="col-sm-12 col-md-6 mt-5">

			<h1 class="heading-h4">About <span class="text-info">Me</span></h1>
			<p class="bold">I'am Surya A. Ramadhan, Web and Mobile Develover from Bandung, Indonesia</p>
			<p class="text-muted justify small">
				Having excellent technical and communication skills, offering 4 years of experience in Software Development.
				Proficient at design and development within various code language framework.
			</p>

			<div class="">
				<h2 class="f16 mb-0">Experience</h2>
				<p>Provide concrete evidence of your success</p>
				<div class="mb-3">
					<h3 class="f14 mb-0">Full-stack Developer</h3>
					<p class="f12 my-0">PT Appsensi Tiga Ribu, Jakarta</p>
					<p class="f12 text-muted my-0">Mar 2020 - Des 2021</p>
				</div>
				<div class="mb-3">
					<h3 class="f14 mb-0">Sr. Front-End Developer</h3>
					<p class="f12 my-0">PT Intersolusi Teknologi Asia, Bandung</p>
					<p class="f12 text-muted my-0">Apr 2018 - Apr 2020</p>
				</div>
			</div>

			<h2 class="f16 mb-0">What I Learn</h2>
			<p>
				<span class="mx-1 badge bg-gray-badge text-muted">Angular</span>
				<span class="mx-1 badge bg-gray-badge text-muted">JQuery</span>
				<span class="mx-1 badge bg-gray-badge text-muted">VueJs</span>
				<span class="mx-1 badge bg-gray-badge text-muted">Flutter</span>
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="container">
				<a target="_blank" href="https://pngtree.com/freepng/illustration-of-a-man-working-on-a-laptop_5361915.html">

					<img [src]="linkImg" title="Background for Surya's Portpolio" class="img-fluid"
						alt="png image from pngtree.com">
				</a>
			</div>
		</div>
	</div>


</div>