/* You can add global styles to this file, and also import other style files */
.bg-gray {
    background-color: #ced8ce;
}
.bg-gray-badge {
    background-color: #a1aca1;
}
.cursor {
    cursor: pointer;
}

.justify {
    text-align: justify;
}

.f16 {
    font-size:larger;
}
.f14 {
    font-size: medium;
}
.f12 {
    font-size: small;
}